.table {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 260px;
    transform: rotateX(60deg);
    border-radius: 5px;
    background-color: #509010;
    background-image: url(../../assets/image/grass.png);
    background-size: contain;
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: white 0.006em 0.006em 0.007em, #3f2a15 1px 1px 0px, #3f2a15 1px 2px 0px, #3f2a15 1px 3px 0px,
        #3f2a15 1px 4px 0px, #3f2a15 1px 5px 0px, #3f2a15 1px 6px 0px, #3f2a15 1px 7px 0px, #3f2a15 1px 8px 0px,
        #3f2a15 1px 9px 0px, #3f2a15 1px 10px 0px, #3f2a15 1px 11px 0px, #3f2a15 1px 12px 0px,
        rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, white -0.15em -0.1em 100px;
}

.red {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../../assets/image/bat-red.gif);
    background-size: 55px;
    background-position: center;
    background-repeat: no-repeat;
}
bat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    background-image: url(../../assets/image/bat.gif);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

tombstone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: -20px 5px 5px 5px;

    width: 70px;
    height: 100px;
    border-radius: 40% 40% 0 0;
    background-image: url(../../assets/image/tombstone.png);
    background-size: 95px 112px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: white 0.006em 0.006em 0.007em, #87a1ab 1px 1px 1px, #87a1ab 1px 2px 1px, #87a1ab 1px 3px 1px,
        #87a1ab 1px 4px 1px, #87a1ab 1px 5px 1px, #87a1ab 1px 6px 1px, #87a1ab 1px 7px 1px, #87a1ab 1px 8px 1px,
        #87a1ab 1px 9px 1px, #87a1ab 1px 10px 1px, #87a1ab 1px 11px 1px, #87a1ab 1px 12px 1px,
        rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
}
#rip {
    background-image: url(../../assets/image/rip.png);
}

earth {
    width: auto;
    min-width: 30px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-image: url(../../assets/image/earth.jpg);
    background-size: 100px;
}

pumpkin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    background-image: url(../../assets/image/pumpkin.png);
    background-size: 70px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
        rgba(16, 16, 16, 0.2) 1px 26px 35px;
}

skull {
    width: 70px;
    height: 90px;
    border-radius: 50%;
    margin-top: -20px;
    display: flex;
    background-image: url(../../assets/image/skull.png);
    background-size: 70px 97px;

    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
        rgba(16, 16, 16, 0.2) 1px 26px 35px;
    &.small {
        width: 45px;
        height: 60px;
        margin: 5px;
        background-size: 45px 66px;
    }
}

casper {
    width: 70px;
    height: 100px;
    border-radius: 50%;
    margin-top: -20px;
    display: flex;
    background-image: url(../../assets/image/Casper.png);
    background-size: 70px 105px;

    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
        rgba(16, 16, 16, 0.2) 1px 26px 35px;
    &.small {
        width: 45px;
        height: 68px;
        background-size: 45px 71px;
    }
}

.game-over {
    font-family: 'VT323', monospace;
    font-size: 60px;
    color: #52361f;
}

.selected-element {
    animation: strobe 1s infinite;
    animation-delay: 0s, 0.5s;
}

.selected-bat {
    animation: bat 1s infinite;
    animation-delay: 0s, 0.5s;
}
.selected-pumpkin {
    animation: pumpkin 1s infinite;
    animation-delay: 0s, 0.5s;
}

@keyframes bat {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -50px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes pumpkin {
    0% {
        margin-top: -10px;
        box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
            rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }

    50% {
        margin-top: -30px;
        box-shadow: rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px,
            rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }

    100% {
        margin-top: -10px;
        box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
            rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
}

@keyframes strobe {
    0% {
        margin-top: 0px;

        box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
            #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px,
            #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
            rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px,
            rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }

    50% {
        margin-top: -30px;

        box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
            #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px,
            #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
            rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px,
            rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }

    100% {
        margin-top: 0px;

        box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
            #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px,
            #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
            rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px,
            rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
}

.win {
    animation: take-off 1s ease-in-out 0s forwards;
}

@keyframes take-off {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.1, 1.1);
    }
    20% {
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(-10px, -300%, 0) scale(0.2, 0.2);
    }
}
